{% extends 'base.html' %}

{% block content %}
<h5>Select any attribute to visualise its graph:</h5>
    <br>
<div class="row">
{% for attribute in non_numeric_list %}

<div class="col s4">

<form action="{% url 'app:graph' %}" method="POST">
    {% csrf_token %}

    <input id="csvfile" type="hidden" name="csvfile" value="{{ csvfile }}">
    <input id="attribute" type="hidden" name="attribute" value="{{ attribute }}">
    <input type="submit" class="btn" value="{{ attribute }}">
</form>
    <br>
</div>
{% endfor %}
    </div>
{% endblock content %}